<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.jestar.coodinatorlayoutdemo">

        <!--android:supportsRtl="true"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.OfficialSample1Activity"/>
        <activity android:name=".activity.OfficialSample1ExtActivity"/>
        <activity android:name=".activity.OfficialSample3Activity"/>
        <activity android:name=".activity.OfficialSample3ExtActivity"/>
        <activity android:name=".activity.OfficialSample3Ext1Activity"/>
        <activity android:name=".activity.CustomCollapsingToCenterActivity"/>
        <activity android:name=".activity.CustomSimpleBehaviorActivity"/>
        <activity android:name=".activity.CustomSimpleBehavior1Activity"/>
        <activity android:name=".activity.BottomSheetActivity"/>
    </application>

</manifest>